body{background-color: rgb(245, 245, 245);}

.sombra{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 28px 0 rgba(0, 0, 0, 0.2);}

.navbar{
  position:fixed;
  width:100%;
  z-index:10;
  border-radius:0;
}


.imgcarousel{
  width:100%;
  max-width:100%;
  filter: brightness(51%);
}


p {
  font-size: 18px;
  font-family: arial;
}


.imgcard{
  height: 200px;
  width: 100%;
  border-radius: 15px;
}
.btnscrol{
  border: none; /* Remove borders */
  background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 0px 5px 0px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
}
.btnscrol:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


.divfotos{
  box-shadow: 0px 3px 20px 8px rgba(0, 0, 0, 0.2), 0px 3px 20px 8px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(180deg,#4e73df,#224abe);
  height: 600px;
  font-family: inherit;
}
.divperfil{
  width: 18rem;
  background-color: rgba(0, 0, 0, 0);
}
.foto{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%; 
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.3); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  /*font-size: 18px;  Increase font size */
}
#myBtn:hover {
  background-color: rgba(0, 17, 255, 0.5); /* Add a dark-grey background on hover */
}


.contatos{
  height: 140px;
  background-image: linear-gradient(rgb(20, 20, 20), rgb(24, 24, 24));
  box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.9);
}
.contatos img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.cardcontatos{
  border: none;
}


footer{
  background-image: linear-gradient(rgb(204, 204, 204), rgb(224, 224, 224));
  font-family: arial;
}


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {transform: rotate(45deg);}

.hamRotate180.active {transform: rotate(180deg);}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#ddd;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham4.active .top {stroke-dashoffset: -68px;}

.ham4.active .bottom {stroke-dashoffset: -68px;}